/******** Root styles and color pallete ********/

:root {
  --ks-primary: #fec234;
  --ks-secondary: #333333;
  --ks-highlight: #eeeeee;
  --ks-background: #37435b;
  --transparent: rgba(0, 0, 0, 0);
}

/******** Basic site styles ********/

body {
  background-color: var(--ks-highlight);
}

header {
  display: flex;
  background-color: var(--transparent);
  margin-bottom: 0vh;
  align-content: center;
}

/******** Classes for styling specific items ********/

/* Primary */

.navbar {
  display: flex;
  justify-content: space-evenly;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  padding: 0%;
}

.link-dropdown {
  border-color: var(--transparent);
  background-color: var(--transparent);
}

.link-dropdown:focus + .dropdown-menu {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0%);
}

.dropdown-menu {
  background-color: white;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  transform: tanslateY(-5%);
  transition: all .5s ease;
  position: absolute;
}

.dropdown-item {
  color: black;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.link-btn {
  border-radius: 5px;
  color: black;
  text-decoration: none;
}

/* Mobile responsive */

/******** Classes for layout and grid use ********/

.invisible {
  display: none;
}

.flex {
  display: flex;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.column {
  flex-direction: column;
}

/******** unique id styles ********/

#login-info-nav {
  margin-left: auto;
  margin-right: 1vw;
}

/******** Default React styles that can be removed ********/

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
