.add-product-page {
  background-image: url("../images/pagebackground3.png");
  opacity: 0.9;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 92vh;
  display: flex;
  flex-direction: column;
  border: 10px solid hsla(0, 0%, 100%, 0.5);
}

.navbar {
  align-items: center;
  height: 8vh;
  padding: 1rem;
  margin-top: 1rem;
}
