*,
*:before,
*:after {
  box-sizing: inherit;
}
.productCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.cardProduct {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.4rem;
  line-height: 1.42857143;
  border: 0.1rem solid rgb(152, 152, 152);
  background-color: white;
  color: var(--ks-secondary);
  border-radius: 0.4rem;
  max-width: 41rem;
  max-height: 55rem;
  min-width: 41rem;
  min-height: 55rem;
  float: right;
  margin: 1rem;
}
.card {
  color: var(--ks-secondary);
  padding: 5%;
}
.productName {
  font-weight: 600;
  font-size: 2rem;
  text-align: left;
}
.productDescription {
  text-align: left;
}
.myProductsButton {
  float: right;
}
.scaled-img {
  width: 10rem;
}
.thumbnailProduct {
  padding: 0.4rem;
  line-height: 1.42857143;
  border: 0.1rem solid #ddd;
  border-radius: 0.4rem;
}
.text-center {
  text-align: center;
}

.imageProduct {
  display: block;
  max-width: 40rem;
  max-height: 40rem;
  height: auto;
}

/* GRID */

/* productCardsContainer */
.productCardsContainer {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media (min-width: 768px) {
  .productCardsContainer {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .productCardsContainer {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .productCardsContainer {
    width: 1170px;
  }
}

/* Row Products */
.rowProducts {
  display: grid;
  grid-template-columns: repeat(auto-fill, 40rem);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 20px;
}

.colProducts-xs-12 {
  grid-column: span 12;
}

.colProducts-xs-11 {
  grid-column: span 11;
}

.colProducts-xs-10 {
  grid-column: span 10;
}

.colProducts-xs-9 {
  grid-column: span 9;
}

.colProducts-xs-8 {
  grid-column: span 8;
}

.colProducts-xs-7 {
  grid-column: span 7;
}

.colProducts-xs-6 {
  grid-column: span 6;
}

.colProducts-xs-5 {
  grid-column: span 5;
}

.colProducts-xs-4 {
  grid-column: span 4;
}

.colProducts-xs-3 {
  grid-column: span 3;
}

.colProducts-xs-2 {
  grid-column: span 2;
}

.colProducts-xs-1 {
  grid-column: span 1;
}

@media (min-width: 768px) {
  .colProducts-sm-12 {
    grid-column: span 12;
  }

  .colProducts-sm-11 {
    grid-column: span 11;
  }

  .colProducts-sm-10 {
    grid-column: span 10;
  }

  .colProducts-sm-9 {
    grid-column: span 9;
  }

  .colProducts-sm-8 {
    grid-column: span 8;
  }

  .colProducts-sm-7 {
    grid-column: span 7;
  }

  .colProducts-sm-6 {
    grid-column: span 6;
  }

  .colProducts-sm-5 {
    grid-column: span 5;
  }

  .colProducts-sm-4 {
    grid-column: span 4;
  }

  .colProducts-sm-3 {
    grid-column: span 3;
  }

  .colProducts-sm-2 {
    grid-column: span 2;
  }

  .colProducts-sm-1 {
    grid-column: span 1;
  }
}

@media (min-width: 992px) {
  .colProducts-md-12 {
    grid-column: span 12;
  }

  .colProducts-md-11 {
    grid-column: span 11;
  }

  .colProducts-md-10 {
    grid-column: span 10;
  }

  .colProducts-md-9 {
    grid-column: span 9;
  }

  .colProducts-md-8 {
    grid-column: span 8;
  }

  .colProducts-md-7 {
    grid-column: span 7;
  }

  .colProducts-md-6 {
    grid-column: span 6;
  }

  .colProducts-md-5 {
    grid-column: span 5;
  }

  .colProducts-md-4 {
    grid-column: span 4;
  }

  .colProducts-md-3 {
    grid-column: span 3;
  }

  .colProducts-md-2 {
    grid-column: span 2;
  }

  .colProducts-md-1 {
    grid-column: span 1;
  }
}

@media (min-width: 1200px) {
  .colProducts-lg-12 {
    grid-column: span 12;
  }

  .colProducts-lg-11 {
    grid-column: span 11;
  }

  .colProducts-lg-10 {
    grid-column: span 10;
  }

  .colProducts-lg-9 {
    grid-column: span 9;
  }

  .colProducts-lg-8 {
    grid-column: span 8;
  }

  .colProducts-lg-7 {
    grid-column: span 7;
  }

  .colProducts-lg-6 {
    grid-column: span 6;
  }

  .colProducts-lg-5 {
    grid-column: span 5;
  }

  .colProducts-lg-4 {
    grid-column: span 4;
  }

  .colProducts-lg-3 {
    grid-column: span 3;
  }

  .colProducts-lg-2 {
    grid-column: span 2;
  }

  .colProducts-lg-1 {
    grid-column: span 1;
  }
}
